:root {
    --sleektiv-purple: #5f1c1c
} 

.color-primary {
    color: var(--sleektiv-purple);
}

.btn.btn-primary {
    background-color: var(--sleektiv-purple) !important;
    border-color: var(--sleektiv-purple) !important;
}

.alert.alert-secondary {
    color: #017E84 !important;
    background-color: #017E8425 !important;
    border-color: #017E8480 !important;
}

.sleektiv-bg-primary, .bg-primary, .form-check-input:checked, .nav-pills .nav-link.active {
    background-color: var(--sleektiv-purple) !important;
    border-color: var(--sleektiv-purple) !important;
}

.sleektiv-bg-secondary, .bg-secondary {
    background-color: #017E84 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.one-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link-primary {
    color: var(--sleektiv-purple) !important;
    font-size: 12px;
}
